<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poly.test.diaryapp">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:name=".MyApplication"
              android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiaryApp">
    <activity android:name=".Setting.SetBgColorActivity">

        </activity>

        <activity android:name=".Calendar.CalendarWriteActivity" />
        <activity
            android:name=".Intro.FirstVisitActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Intro.JoinActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Intro.LoginActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Intro.IntroActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor" />
    </application>



</manifest>